.Recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.Recipes-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-bottom: 70px; */
  background-color: rgb(216, 216, 216);
  width: 70%;
  margin: 0px auto 70px auto;
  border-radius: 10px;
}

.Recipes-h1 {
  width: 100%;
  font-size: 60px;
  margin-bottom: 70px;
}