.RecipeFilter-filter-ico {
  font-size: 30px;
  color: rgb(78, 42, 42);
  margin-top: 20px;
}

.RecipeFilter-filter {
  display: block;
  width: 100%;
  margin-bottom: 90px;
  /* background-color: blue; */
}

.RecipeFilter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px auto 40px auto;
  padding: 50px 0px;
  background-color: rgb(78, 42, 42);
  border-radius: 10px;
}

.RecipeFilter-form-field {
  display: block;
}
  
.RecipeFilter-form-h1 {
  text-align: center;
  display: block;
  font-size: 60px;
  margin: 0px 0px;
  padding-top: 120px;
  color:  rgb(221, 230, 237);
}

.RecipeFilter-form-field label {
  display: block;
  width: 260px;
  height: 30px;
  margin-right: 30px;
  color: rgb(221, 230, 237);
}
  
.RecipeFilter-form-field input, select {
  width: 260px;
  height: 30px;
  margin-bottom: 30px;
}

.RecipeFilter-form-submit {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.RecipeFilter-form-submit button {
  display: block;
  width: 260px;
  height: 30px;
  margin: 0px auto;
  margin-top: 10px;
  border: 3px inset rgb(223, 216, 85);
  background-color: rgb(223, 216, 85);
  color: rgb(0, 0, 0);
  transition: .5s ease-in-out background-color;
}

.RecipeFilter-form button:hover {
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}